/*
	Dark theme.
*/
body {
  background-color: #111011;
  color: #bebebe; }

a {
  border-color: #444; }

.menu-container a {
  border-color: #acacac; }

blockquote {
  border-color: #666666;
  color: #8b8b8b; }
  blockquote blockquote {
    border-color: inherit;
    color: #727272; }

#site-header {
  border-bottom: 1px solid black; }

.dateline {
  color: #888; }

.category-featured {
  border-color: #666; }

.singular-post .entry-date {
  color: #8b8b8b; }

.format-standard .entry-title a {
  color: #999; }

.linked-list-item {
  color: #aaa; }

.format-link .linked-list-item a {
  color: darker(#bebebe, 0.9); }
.format-link .linked-list-item a:hover {
  color: #fff; }

.format-link:hover .linked-list-item a {
  color: #f00; }
.format-link:hover .linked-list-item a:hover {
  color: #fff; }
