/*
	Dark theme.
*/

$dark_background: #111011;
$dark_body_text: #bebebe;
$dark_border: #666;

@mixin transitions($trans, $time) {
	transition: $trans #{$time}s;
	-moz-transition: $trans #{$time}s;
	-webkit-transition: $trans #{$time}s;
	-o-transition: $trans #{$time}s;
}

// ======= ======= ======= ======= =======

body {
	background-color: $dark_background;
	color: $dark_body_text;
}

a {
	border-color: #333;
}

a:hover {
	background-color: #000;
	border-bottom: 1px solid #555;
	@include transitions(background-color, .3);
}

.menu-container a {
	border-color: #acacac;
}

blockquote {
	border-color: $dark_border;
	color: darken(#bebebe, 15%);
	blockquote {
		border-color: inherit;
		color: darken(#bebebe, 25%);
	}
}

#site-header {
	border-bottom: 1px solid #000;
}

.dateline {
	color: #888;
}

.category-featured {
	border-color: #666;
}

.singular-post .entry-date {
	color: darken(#bebebe, 20%);
}

.format-standard .entry-title a {color: #999;}

// Permalink coloring
.linked-list-item {
		color: #666;
}
.format-link .linked-list-item {
	a {
		color: darker(#bebebe, .9);
	}
	a:hover {
		color: #fff;
	}
}
.format-link:hover .linked-list-item {
	a {
		color: #f00;
	}
	a:hover {
		color: #fff;
	}
}

// Decoration color
.home, .blog {
	.category-featured:before {
		color: darker($dark_body_text, .8);
	}
}